<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoroLab's Activites</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/table.css">
</head>

<body>
    <nav style="position: sticky; top: 0; z-index: 1000;">
        <a href="/" class="logo">
            <img src="images/logoBlack.png" alt="">
        </a>
        <div class="display-flex-center gap-2">
            <a href="/">Home</a>
            <a href="/menu">Menu</a>
            <a href="/activites" class="active">Activites</a>
            <a href="/info">Info</a>
            <a href="/recipes">Recipes</a>
        </div>
        <div class="display-flex-center gap-1" style="justify-content: flex-end;">
            <a href="/reservation">Reservation</a>
            <a href="/faq">FAQ</a>
        </div>
    </nav>

    <!-- >>> -->
    <section id="activites" class="width-100" extraHeight>
        <div id="private_dinner" class=" padding-3 display-flex-column gap-2">
            <h3 class="articleTitleBigger">PRIVATE DINNER</h3>
            <div class="grid2border">
                <img src="images/WYNN8349.JPG" alt="">
                <p>
                    Last week, NORO hosted the third reservation of our 4
                    Seasons menu, marking the completion of its first edition.
                    We had the honor of serving a distinguished group of
                    eight gentlemen, all of whom are refined in both fine
                    dining and beverages. To elevate this special occasion, we
                    offered adult beverages for drink pairings. <br><br>
                    For our last 4 Seasons dinner, we combined duck essence
                    and reduced stock with our house’s spice mix to create a
                    decadent, velvety sauce for the Szechuan Confit dish.
                </p>
            </div>
            <div class="grid2border">
                <p>
                    Continuing on our series for 4 Seasons, last week NORO
                    was delighted to provide service for 6 very distinguished
                    and charming madams. <br>
                    For this week’s special items, we offered our carne asada
                    taco with pico de gallo and chimichurri on NORO-
                    seasoned steak, wrapped in freshly made tortillas. <br>
                    We also featured our signature Tepache as a starter drink
                    to welcome our guests into this “New Year”
                </p>
                <img src="images/WYNN8242.JPG" alt="">
            </div>
        </div>

        <!-- >>> -->

        <div id="community_outreach" class="margin-nav-top padding-3 display-flex-column gap-2">
            <h3 class="articleTitleBigger" style="padding-top: 3rem;">COMMUNITY OUTREACH</h3>
            <div class="grid2border">
                <img src="images/hungazit1.png" alt="">
                <p>
                    On 15th July, our Head Chef Phong had a meet-up talk
                    with Chef Hungazit, a renowned chef here in Vietnam. As
                    a former chef in the Michelin Guide French Grill of JW
                    Marriott Hanoi, Chef Hungazit now works as a private
                    chef organizing dinner parties for distinguished guests. He
                    is also a host of various culinary programs on the Vietnam
                    Television - VTV
                </p>
            </div>
            <div class="grid2border">
                <img src="images/IMG_0617.JPG" alt="">
                <p>
                    On August 18th, a representative of NORO had the
                    opportunity to collaborate with Chef Cuong for a private
                    party serving 25+ distinguished guests. Chef Cuong is the
                    Executive Chef (the highest position, like very big boss) of
                    Noi Bai Catering Service
                    <br>
                    ...
                </p>
            </div>
            <div class="grid2border">
                <p>
                    Our charity trip to Thai Nguyen Province culminated in 10
                    new solar-powered street lamps being installed. Our team
                    also planted close to 100 trees to aid tribal people with
                    expanding their biodiversity
                </p>
                <img style="height: 50vh; object-fit: contain;" src="images/IMG_3362.jpeg" alt="">
            </div>

        </div>
    </section>

    <!-- >>> -->
    <footer>
        <div class="width-100 display-flex-around padding-2 gap-2" style=" background-color: var(--nearly-white);">
            <h2>
                MAKE A <br>RESERVATION
            </h2>
            <div class="display-flex-column-center">
                Book a table today through our Portal or Contact via Telephone
                <a class="underline" href="/reservation">BOOK NOW</a>
            </div>
            <div style="height: 8rem; width: fit-content;"><img style="object-fit: contain;" src="images/phone.png"
                    alt=""></div>
        </div>
        <div class="width-100 padding-3" id="footerInfo" style=" background-color: var(--grey-footer);">
            <div>
                <h2>MANDARIN GARDEN</h2>
                 <p>Hoang Minh Giam Str,<br>Cau Giay District, Hanoi 10000, VN</p>
            </div>
            <div>
                <div>
                    <h2>RESERVATION</h2>
                    <div><a href="/reservation">noro-lab.com/reservation</a></div>
                    <div><a href="tel:+8488629107">(+84) 88 629 107</a></div>
                </div>
                <div>
                    <h2>HOURS</h2>
                    <p>Sundays Only</p>
                    <p>18:00 - 22:00</p>
                </div>
            </div>
            <div>
                <h2>EMAIL</h2>
                <a href="mailto:noro.kitchen@gmail.com">noro.kitchen@gmail.com</a>
            </div>
            <div>
                <h2>SOCIAL</h2>
                <div class="gap-1 align-center" style="display: flex;">
                    <a href="https://www.instagram.com/noro.lab/">
                        <svg width="1.5rem" height="1.5rem" viewBox="0 0 34 34" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect x="-2" y="-2" width="30" height="30" rx="5" transform="matrix(0 -1 -1 0 30 30)"
                                stroke="white" stroke-width="4" />
                            <rect x="-1.5" y="-1.5" width="19" height="19" rx="9.5" transform="matrix(0 -1 -1 0 25 25)"
                                stroke="white" stroke-width="3" />
                            <rect x="-1.5" y="-1.5" width="7" height="7" rx="3.5" transform="matrix(0 -1 -1 0 19 19)"
                                stroke="white" stroke-width="3" />
                            <rect width="4" height="4" rx="2" transform="matrix(0 -1 -1 0 29 9)" fill="white" />
                        </svg>


                    </a>
                    <a href="mailto:noro.kitchen@gmail.com">
                        <svg width="2rem" height="2rem" viewBox="0 0 49 49" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0_2_37" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                width="49" height="49">
                                <rect x="0.536987" y="0.252197" width="48" height="48" fill="#D9D9D9" />
                            </mask>
                            <g mask="url(#mask0_2_37)">
                                <path
                                    d="M7.79144 40.9586C6.70778 40.9586 5.77661 40.5694 4.99794 39.7911C4.21961 39.0124 3.83044 38.0813 3.83044 36.9976V11.5066C3.83044 10.4153 4.21961 9.47759 4.99794 8.69359C5.77661 7.90926 6.70778 7.51709 7.79144 7.51709H41.2824C42.3738 7.51709 43.3114 7.90926 44.0954 8.69359C44.8798 9.47759 45.2719 10.4153 45.2719 11.5066V36.9976C45.2719 38.0813 44.8798 39.0124 44.0954 39.7911C43.3114 40.5694 42.3738 40.9586 41.2824 40.9586H7.79144ZM24.5369 26.0566L7.79144 14.9066V36.9976H41.2824V14.9066L24.5369 26.0566ZM24.5369 22.4066L41.0824 11.5066H8.04144L24.5369 22.4066ZM7.79144 14.9066V11.5066V36.9976V14.9066Z"
                                    fill="#fff" />
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

    </footer>
</body>
<script src="javascripts/main.js"></script>

</html>